In [7]:
import pandas as pd

In [12]:
#데이터 프레임 객체 생성
df1 = pd.DataFrame(
    {"id" : [100,102, 107],
    "math" : [99, 100, 97],
    "english" : [95, 92, 94]
    }
)
print(df1) 

df2 = pd.DataFrame(
    [
        [100, 99, 95],
        [102, 100, 92],
        [107, 97, 94]
    ] , columns = ["id", "math", "english"]
      , index=[1,2,3]
)
print(df2)

    id  math  english
0  100    99       95
1  102   100       92
2  107    97       94
    id  math  english
1  100    99       95
2  102   100       92
3  107    97       94

In [16]:
#melt : wide form -> long form
df3 = pd.melt(df2)
print(df3)

  variable  value
0       id    100
1       id    102
2       id    107
3     math     99
4     math    100
5     math     97
6  english     95
7  english     92
8  english     94

In [ ]:
df3 = pd.melt(df2).rename(columns={"variable":"var","value":"val"})
print(df3)

       var  val
0       id  100
1       id  102
2       id  107
3     math   99
4     math  100
5     math   97
6  english   95
7  english   92
8  english   94

In [ ]:
df3 = pd.melt(df2).rename(columns={"variable":"var","value":"val"}).query("val >= 95")
print(df3)